<mat-toolbar color="accent" class="navbar" >
    <div>
      <button mat-icon-button class="example-icon" (click)="sidenav.toggle()" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      {{title}}
    </div>
    <div>
      <mat-icon aria-hidden="false" aria-label="Example home icon" [matMenuTriggerFor] = "appMenu">person</mat-icon>
    </div>
  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav mode="side" #sidenav >Start</mat-sidenav>
    <mat-sidenav-content>
      <mat-card>
        <app-sale-list></app-sale-list>
        <app-region-list></app-region-list>
        <app-teamleader-list></app-teamleader-list>
        
      </mat-card> 
    </mat-sidenav-content>
  </mat-sidenav-container>
  
<mat-menu #appMenu = "matMenu">
    <button mat-menu-item>Messages</button>
    <mat-divider></mat-divider>
    <button mat-menu-item>Profile</button>
    <mat-divider></mat-divider>
    <button mat-menu-item>Settings</button>
      <mat-divider></mat-divider>
    <button mat-menu-item>Logout</button>
  </mat-menu>
  <!-- Menus -->
  





